/**
 * @file
 * Stylesheet for the focusberg module.
 */
 /* * Toolbar */
#focusberg-toolbar-tab {
  float: right;
}

/* * Editor overrides * */
.toolbar .toolbar-bar .toolbar-icon-focusberg:before,
.toolbar .toolbar-bar .toolbar-icon-focusberg.active:before {
  background-image: url("../images/icons/quill-with-ink.svg");
}

#focusberg-q {
  background-image: url("../images/icons/quill-with-ink.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
