/**
 * @file
 * Stylesheet for the focusberg module.
 */
/* * Toolbar */

$transition: color .7s cubic-bezier(.25, .46, .45, .95),
background-color .4s cubic-bezier(.25, .46, .45, .95);
$black: #000;
$white: #fff;
$navy: #0e171c;
$coal: #141819;

// * Setting the first color option
$primary: $navy;

//  * Focusberg Icon
.toolbar {

  .toolbar-tab {
    transition: $transition;
  }

  #focusberg-toolbar-tab {
    float: right;

    .toolbar-icon-focusberg {
      transition: $transition;

      &:before {
        background-image: url("../images/icons/quill-with-ink.svg");
      }

      &--activated {
        font-weight: 100;
        font-style: italic;
      }
    }

    &.focusberg--activated {
      position: fixed;
      right: 0;
      z-index: 999;
    }
  }
}

//  * Focusberg Toggled
body.focusberg--enabled {

  .toolbar {
    #toolbar-bar {
      background-color: $primary;
    }

    .toolbar-tab:not(#focusberg-toolbar-tab) {
      display: none;
    }
  }

  // * Editor begins
  #focused {
    transition: $transition;

    .components-icon-button {

      .dashicon {
        fill: lighten($primary, 20%);
      }
    }
    // * Layout
    .edit-post-header,
    .edit-post-sidebar {
      display: none;
    }

    .editor-block-list__breadcrumb {

      * {
        background-color: lighten($primary, 20%);
      }
    }

    .editor-block-mover {
      background-color: lighten($primary, 20%);
    }

    .components-dropdown-menu__menu .components-dropdown-menu__menu-item:not(:disabled):not([aria-disabled=true]):not(.is-default).is-active>svg {
      background-color: lighten($primary, 30%);
    }

    .components-menu-item__button,
    .components-menu-item__button.components-icon-button {
      color: lighten($primary, 40%);

      &:hover,
      &:focus {
        background-color: lighten($primary, 30%);
        outline: none;
        color: lighten($primary, 60%);
      }
    }

    .components-dropdown-menu__menu {
      .components-menu-group:not(:last-child) {
        border-bottom: 1px solid lighten($primary, 40%);
      }
    }

    .components-dropdown-menu__menu {

      .components-dropdown-menu__menu-item {
        border-radius: 0;

        &:hover,
        &:focus {
          background-color: lighten($primary, 30%);
          outline: none;
        }
      }
    }

    .editor-block-toolbar {

      .components-toolbar {
        background-color: lighten($primary, 20%);
        border: 0;

        span.editor-block-icon,
        button.components-icon-button {
          background-color: transparent !important;

          &:hover {
            background-color: lighten($primary, 20%) !important;
          }

          svg {
            fill: lighten($primary, 40%);
          }

          &.has-colors {
            background: lighten($primary, 20%) !important;
          }

          &.is-active {
            background-color: lighten($primary, 50%) !important;

            svg {
              background-color: lighten($primary, 30%) !important;
            }
          }
        }
      }
    }

    .edit-post-layout__footer {
      background-color: lighten($primary, 2%);
      border-top: 1px solid darken($primary, 5%);
      color: $white;
      transition: $transition;
    }

    .components-popover:not(.is-without-arrow):not(.is-mobile) {
      &:before {
        border: 8px solid lighten($primary, 10%);
        border-bottom: none;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-style: solid;
      }

      &:after {
        border: 8px solid lighten($primary, 5%);
        border-bottom: none;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-style: solid;
      }
    }

    .components-popover__content {
      background-color: lighten($primary, 5%);
      border: 0;

      input[type=search] {

        &.block-editor-inserter__search {
          color: $white;
          background-color: lighten($primary, 10%);
          border: 0;

          &:-moz-placeholder {
            color: lighten($primary, 30%);
          }

          &::-moz-placeholder {
            color: lighten($primary, 30%);
          }

          &:-ms-input-placeholder {
            color: lighten($primary, 30%);
          }

          &::-webkit-input-placeholder {
            color: lighten($primary, 30%);
          }
        }
      }

      .components-panel__body {
        border-top: 1px solid lighten($primary, 50%);
        border-bottom: 1px solid lighten($primary, 50%);

        .components-panel__body-title {

          &:hover {
            background-color: transparent;
          }

          button {
            color: lighten($primary, 70%);

            &:hover,
            &:focus {
              background-color: lighten($primary, 20%);
            }
          }
        }

        .block-editor-block-types-list__item {
          color: lighten($primary, 15%);

          &:hover,
          &:before {
            background-color: lighten($primary, 10%);
            color: lighten($primary, 25%);
          }
        }

        .block-editor-block-types-list__item {
          svg {
            fill: lighten($primary, 25%);
          }
        }
      }
    }

    .edit-post-layout__content {
      top: 0 !important;
      margin-right: 0 !important;
      background-color: $primary;
      transition: $transition;

      .edit-post-layout__metaboxes {
        display: none !important;
      }

      .block-editor-button-block-appender {
        background-color: lighten($primary, 5%);
        outline: 1px dashed lighten($primary, 15%);

        &:hover {
          svg.dashicon {
            fill: lighten($primary, 15%);
          }
        }
      }
    }

    // * Elements
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: lighten($primary, 50%);
    }

    p,
    strong,
    div,
    span {
      color: lighten($primary, 70%);
    }

    figcaption {
      color: lighten($primary, 40%);
    }
  }
}


/* * Editor overrides * */
